table {
    margin: 0 10px;
}
thead, tbody, tr {
    display: block;
    text-align: left;
}
thead, tr {
    border-bottom: 1px solid rgb(194, 194, 194);
}
th, td {
    width: 200px;
}

th {
    font-size: 18px;
}
td {
    font-size: 15px;
}